
.app-container {
  height: 100vh;
  width: auto;
  background-color: #043043;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}


@media (max-width: 500px) {
  .app-container {
    grid-template-columns: 0 auto; /* 2 equal-width columns */
  }
}
.grid-area-1 {
  height: 100%;
  width: 100%;
  grid-column: 1;
  justify-self: center;
  display: flex;
}

.to-do-container {
  margin: 2vw;
  width: 20vw;
  max-height: 80vh;
  border-radius: 10px;
  background-color: #032B3C;
  display: flex;
  flex-direction: column;

  overflow: auto;

  scrollbar-width: 5px; /* Options: auto, thin, none */
  scrollbar-color: #b6a9c5 #074058;
  

}

.grid-area-2 {
  grid-column: 2; /* Places in the center column */
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-block {
  width: 40vw;
  min-width: 200px;
  height: 400px;
  margin: 10px;
  border-radius: 10px;
  background-color: #5C8093;
  display: flex;
  align-items: center;  
  justify-content: center;
}

.panel-first {
  border: 2px solid #074058;
  background-color: #043043;
  color: aqua;
  width: 100px;
  height: 50px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.1s ease-in-out;
  user-select: none;
}


.panel-first:hover {
  background-color: #82b1c5;
  color: #032B3C;
  transform: scale(1.05);
}

.panel-first:active {
  transform: scale(0.98);
}

